<p id="notice"><%= notice %></p>
<h1>Tasks</h1>

<!--ここから検索フォーム-->
<div class="search-form" style="padding: 10px; margin-bottom: 10px; border: 1px dotted #333333; width: 300px">
  <h3>Task Search</h3>
  <%= form_with(scope: :search, url: tasks_path, method: :get, local: true) do |f| %>
    <div class="field">
      <%= f.label(:name, Task.human_attribute_name(:name)) %>
      <%= f.text_field :name, value: @search_params[:name] %>
    </div>
    <div class="field">
      <%= f.label(:status, Task.human_attribute_name(:status)) %>
      <%= f.select(:status,["","Not Started","Undertake","Complete"] ,value: @search_params[:status])%>
    </div>
    <div class="actions">
      <%= f.submit "Search" %>
    </div>
  <% end %>
  <div class = "search-cell" >
    <%= form_with url: tasks_path, method: :get, local: true do |form| %>
      <%= form.label(:label_id) %>
      <%= form.select("label_id", Label.pluck(:title, :id), { include_blank: true }) %>
      <%= form.submit 'search', name: nil %>
      <%= link_to "Create New Label", new_label_path %>
    <% end %>
  </div>
</div>

<!--ここからデータの表示-->
<% def linkage(column, direction) %>
<% arrow = "▲" %>
<% if direction == "desc" %>
<% arrow = "▼" %>
<% end %>
  <%= link_to arrow, sort: column + " " + direction %>
<% end %>

<table class="table table-striped" >
  <thead>
    <tr>
      <th class = "priority-cell">Priority<%= link_to "▲", sort: "priority asc", class:"sort01" %><%= link_to "▼", sort: "priority desc", class:"sort02" %></th>
      <th>User</th>
      <th>Name <%= linkage("name","asc") %><%= linkage("name","desc") %></th>
      <th>Status <%= linkage("status","asc") %><%= linkage("status","desc") %></th>
      <th>Created <%= linkage("created_at","asc") %><%= linkage("created_at","desc") %></th>
      <th>Limit <%= linkage("task_limit","asc") %><%= linkage("task_limit","desc") %></th>
      <th>Content <%= linkage("content","asc") %><%= linkage("content","desc") %></th>
      <th>Labels </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <% if task.user_id == current_user.id %>
        <tr>
          <td><%= task.priority %></td>
          <td><%= task.user.name %></td>
          <td><%= task.name %></td>
          <td><%= task.status %></td>
          <td><%= task.created_at.strftime("%Y-%m-%d") %></td>
          <td><%= task.task_limit.strftime("%Y-%m-%d") %></td>
          <td><%= task.content %></td>
          <td><% task.labels.each do |label| %>
                <%= label.title %>, 
              <% end %></td>
          <td><%= link_to 'Show', task %></td>
          <td><%= link_to 'Edit', edit_task_path(task) %></td>
          <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
<%= paginate @tasks %>
<br>
<%= link_to 'New Task', new_task_path %>