<!DOCTYPE html>
<html>
  <head>
    <title>Manyowork</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if logged_in? %>
      <p>
      <%= link_to current_user.name, user_path(current_user.id) %>  
      <% if current_user.admin? %>
        <%= "(Administrator) " %>
      <% end %> |
      <%= link_to "Logout", session_path(current_user.id), method: :delete %>
      </p>
    <% else %>
      <%= link_to "Sign up", new_user_path %>
      <%= link_to "Login", new_session_path %>
    <% end %>
    <%= yield %>
  </body>
</html>
